<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="fragment-common">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>PMC Moim</title>
            <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
            <link th:href="@{/css/modern-business.css}" rel="stylesheet">
    </head>
</html>