<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootproj.pmcweb.Mapper.AccountMapper">

    <select id="getUserList" resultType="com.bootproj.pmcweb.Domain.Account">
        select * from User
    </select>

    <select id="getUserById" resultType="com.bootproj.pmcweb.Domain.Account">
        select * from User
        where id = #{id}
    </select>

    <select id="getUserByEmail" resultType="com.bootproj.pmcweb.Domain.Account">
        select * from User
        where email = #{email}
    </select>

    <insert id="createUser" useGeneratedKeys="true" keyProperty="id">
        <!--        <selectKey keyProperty="id" resultType="long" order="BEFORE">-->
        <!--            select CAST(RANDOM()*1000000 as BIGINT) a from SYSIBM.SYSDUMMY1-->
        <!--        </selectKey>-->
        insert into User (email,password,inst_time,status,name,role)
        values (#{email},#{password},NOW(),#{status},#{name},#{role})
    </insert>

    <delete id="deleteUser">
        delete from User where id = #{id}
    </delete>

    <update id="updateUserAuthKey" parameterType="map">
        update User set auth_key = #{authKey}
        where email = #{email};
    </update>

    <update id="updateUserStatus" parameterType="map">
        update User set status = #{status}
        where email = #{email};
    </update>

    <update id="updateUserPassword" parameterType="map">
        update User set password = #{password}
        where email = #{email};
    </update>

    <update id="updateUserAttachment" parameterType="map">
        update User set attachment_id = #{attachmentId}
        where email = #{email};
    </update>

    <update id="updateUserSubjectId" parameterType="map">
        update User set subject_id = #{subjectId}
        where email = #{email};
    </update>

    <update id="updateUserRegionId" parameterType="map">
        update User set region_id = #{regionId}
        where email = #{email};
    </update>

</mapper>