<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootproj.pmcweb.Mapper.StudyMaterialMapper">

    <select id="getListAll" resultType="com.bootproj.pmcweb.Domain.StudyMaterial">
        select * from study_material
    </select>

    <select id="getListByStudyId" parameterType="long" resultType="com.bootproj.pmcweb.Domain.StudyMaterial">
        select * from study_material
        where study_id = #{studyId}
    </select>

    <select id="getByAttachmentId" parameterType="long" resultType="com.bootproj.pmcweb.Domain.StudyMaterial">
        select * from study_material
        where attachment_id = #{attachmentId}
    </select>

    <select id="getById" parameterType="long" resultType="com.bootproj.pmcweb.Domain.StudyMaterial">
        select * from study_material
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.bootproj.pmcweb.Domain.StudyMaterial" useGeneratedKeys="true" keyProperty="id">
        insert into study_material (attachment_id, study_id, type)
        values (#{attachmentId}, #{studyId}, #{type});
    </insert>

    <insert id="insertBatch" parameterType="com.bootproj.pmcweb.Domain.StudyMaterial" useGeneratedKeys="true" keyProperty="id">
        insert into study_material (attachment_id, study_id, type)
        values 
        <foreach collection="list" item="attachment" index="index" separator=",">
            (#{attachment.attachmentId}, #{attachment.studyId}, #{attachment.type})
        </foreach>
        ;
    </insert>

    <delete id="deleteById" parameterType="long">
        delete from study_material where id = #{id};
    </delete>

    <delete id="deleteByStudyId" parameterType="long">
        delete from study_material where study_id = #{studyId};
    </delete>

    <update id="update" parameterType="com.bootproj.pmcweb.Domain.StudyMaterial">
        update study_material set attachment_id = #{attachmentId}, study_id = #{studyId}, type = #{type}
        where id = #{id};
    </update>

    <update id="updateBatch" parameterType="com.bootproj.pmcweb.Domain.StudyMaterial">
        <foreach collection="list" item="attachment" index="index" open="" close="" separator=";">
            update study_material
            <set>
                attachment_id = #{attachment.attachmentId},
                study_id = #{attachment.studyId},
                type = #{attachment.type}
            </set>
            where id = #{attachment.id}
        </foreach>
    </update>
</mapper>