<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootproj.pmcweb.Mapper.StudyMapper">
<select id="getStudyList" resultType="com.bootproj.pmcweb.Domain.Study">
        SELECT * FROM study
        ORDER BY id DESC limit #{limit} offset #{offset}
    </select>

<insert id="insertStudy" parameterType="com.bootproj.pmcweb.Common.Request.StudyCreateRequest" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO study
    (title, inst_time, updt_time, status, description, start_date, end_date, evaluation, type, region_id, subject_id)
    values (#{title}, now(), now(), #{status}, #{description}, #{startDate}, #{endDate}, #{evaluation}, #{type},
    #{regionId}, #{subjectId})
    <selectKey keyProperty="id" resultType="long">
        SELECT LAST_INSERT_ID()
    </selectKey>
</insert>

<select id="getStudyDetail" parameterType="long" resultType="com.bootproj.pmcweb.Domain.Study">
        SELECT * FROM study where id=#{studyId};
    </select>

<update id="putStudyStatus">
        UPDATE study SET status=#{status} where id = #{id};
    </update>

</mapper>