<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootproj.pmcweb.Mapper.StudyMapper">
<select id="getStudyList" resultType="com.bootproj.pmcweb.Domain.Study">
        SELECT * FROM study
        ORDER BY id DESC limit #{limit} offset #{offset}
</select>

<select id="getStudyAllList" resultType="com.bootproj.pmcweb.Domain.Study">
    SELECT 	s1.id as id
    ,       title
    ,		description
    ,		start_date
    ,		end_date
    ,		latitude
    ,		longitude
    FROM    study s1
    INNER JOIN region r1
    ON s1.region_id = r1.id
</select>

<insert id="insertStudy" parameterType="com.bootproj.pmcweb.Domain.Study" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO study
    (title, inst_time, updt_time, status, description, start_date, end_date, evaluation, type, region_id, subject_id)
    values (#{title}, now(), now(), #{status}, #{description}, #{startDate}, #{endDate}, #{evaluation}, #{type},
    #{regionId}, #{subjectId})
    <selectKey keyProperty="id" resultType="long">
        SELECT LAST_INSERT_ID()
    </selectKey>
</insert>

<select id="getStudyDetail" parameterType="long" resultType="com.bootproj.pmcweb.Domain.Study">
        SELECT * FROM study where id=#{studyId};
</select>
<select id="getStudyInfoDetail" parameterType="long" resultType="com.bootproj.pmcweb.Common.Response.StudyApiResponse">
    select A.*, B.path as attachmentPath, B.id as attachmentId  from (SELECT study.*, study_member.user_id as adminId
    from study INNER JOIN study_member on study.id = study_member.study_id
    where study_member.role = "ADMIN" and study.id = #{studyId})A
    left join (select attachment.path, study_material.study_id, attachment.id from attachment
    inner join study_material
    on study_material.attachment_id = attachment.id) B
    on B.study_id = A.id;
</select>
<update id="putStudyStatus">
        UPDATE study SET status=#{status} where id = #{id};
</update>

</mapper>