<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootproj.pmcweb.Mapper.StudyMemberMapper">
    <insert id="insertStudyMember" parameterType="com.bootproj.pmcweb.Domain.StudyMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO study_member (role, user_id, study_id)
        VALUES  ( #{studyRole}, #{userId}, #{studyId} );
        <selectKey keyProperty="id" resultType="long">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <select id="selectMember" parameterType="long" resultType="com.bootproj.pmcweb.Domain.StudyMember">
        SELECT * FROM study_member where id=#{id};
    </select>

    <update id="changeRole">
        UPDATE study_member SET role=#{role} where id = #{id};
    </update>
    <select id="getMemberRole" parameterType="long" resultType="string">
        SELECT role FROM study_member where study_id=#{studyId} and user_id=#{userId};
    </select>
    <select id="selectStudyMembers" resultType="com.bootproj.pmcweb.Common.Response.StudyMemberApiResponse">
        SELECT study_member.*, user.name as user_name FROM study_member
        inner join user
        on user_id = user.id
        where study_id= ${studyId};
    </select>

</mapper>