<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="fragment-study_detail">
    <script th:inline="javascript">
        let chatrooms = [];

        function findAllRoom() {
            fetch("/chat/rooms",{
                method: 'GET',
            }).then(response =>{
                if(Object.prototype.toString.call(response.data)==="[object Array]")
                    chatrooms = response.data;
            });
        }

        function enterRoom(roomName) {
            // 채팅방 연결
            let userName = document.getElementById("chat").value;
            // localStorage.setItem('wschat.roomId',roomId);
            localStorage.setItem('wschat.roomName',roomName);
            localStorage.setItem('wschat.userName', userName);
            location.href="/chat/room/enter/"+roomId;
        }
    </script>
</th:block>
</html>