<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="/layout/common.html :: fragment-common"/>
    <th:block th:replace="/layout/navbar.html :: fragment-navbar"/>
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/vendor/adminlte/adminlte.min.css}">
    <!-- daterange picker -->
    <link rel="stylesheet" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<!-- main -->
<div class="container" >
    <div class="mt-3">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">스터디 등록</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="form">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- title input -->
                        <div class="form-group">
                            <label>제목</label>
                            <input type="text" class="form-control" placeholder="Title" id="title">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>스터디장</label>
                            <input type="text" class="form-control" disabled th:attr="placeholder=${loginUser}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- textarea -->
                        <div class="form-group">
                            <label>설명</label>
                            <textarea class="form-control" rows="3" placeholder="Description" id="description"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- select -->
                        <div class="form-group">
                            <label>카테고리</label>
                            <div class="form-group">
                                <select class="form-control" id="subject1">
                                    <option value="" selected>선택해주세요</option>
                                    <option th:each="item : ${subjects}" th:value="${item}" th:text="${item}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="subject2">
                                    <option value="" selected>선택해주세요</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Date range -->
                            <div class="form-group">
                                <label>시작 날짜:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="startDate">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Date range -->
                            <div class="form-group">
                                <label>종료 날짜:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="endDate">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label>지역 대분류</label>
                            <div class="form-group">
                                <select class="form-control" id="region1">
                                    <option>지역 중분류1</option>
                                    <option th:each="item : ${regions}" th:value="${item}" th:text="${item}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>지역 중분류</label>
                            <div class="form-group">
                                <select class="form-control" id="region2">
                                    <option>지역 중분류2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>지역 소분류</label>
                            <div class="form-group">
                                <select class="form-control" id="region3">
                                    <option>지역 소분류</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <!-- File -->
                    <label for="exampleInputFile">첨부파일</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                    </div>
                    <!-- File End -->
                </div>
            </div>
            <!-- /.card-body -->
        </form>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary" onclick="checkForm()">Submit</button>

                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->
</div>
</div>
<!-- /main container -->

<script th:src="@{/vendor/jquery/jquery.js}"></script>
<script th:src="@{/vendor/jquery-ui/jquery-ui.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
    $("#startDate").datepicker();
    $("#endDate").datepicker();
</script>
<script>
    /*<![CDATA[*/
    const xhr = new XMLHttpRequest();
    let subject1 = "";
    let region1 = "";
    let region2 = "";
    /*]]>*/

    // file
    let inputFile = null;

    // subject1
    document.getElementById("subject1").addEventListener("change", function() {
        subject1 = String(this.value);
        /*<![CDATA[*/
        let url = "http://localhost:8080/subject?subjectDepth1="+subject1;
        /*]]>*/
        if (this.value !== "") {
            fetch(url,{
                method : 'GET',
            }).then(function(response) {
                return response.json();
            }).then(function(data) {
                /*<![CDATA[*/
                let html = "<option>선택해주세요</option>";
                let subjects = data.data;
                /*]]>*/
                for(let i=0; i<subjects.length; i++){
                    html+= "<option value="+subjects[i].id+">"+ subjects[i].subjectDepth2+"</option>";
                }
                document.getElementById("subject2").innerHTML= html;
            }).catch(error => alert(error));
        }
    });

    document.getElementById("region1").addEventListener("change", function() {
        region1 = String(this.value);
        /*<![CDATA[*/
        let url = "http://localhost:8080/region?regionDepth1="+region1;
        /*]]>*/
        if (this.value !== "") {
            fetch(url,{
                headers: {
                    'Content-Type': 'application/json',
                },
                method : 'GET',
            }).then(function(response) {
                return response.json();
            }).then(function(data) {
                /*<![CDATA[*/
                let html = "<option>지역 중분류2</option>";
                let regions = data.data;
                /*]]>*/
                for(let i=0; i<regions.length; i++){
                    html+= "<option value="+regions[i]+">"+ regions[i]+"</option>";
                }
                document.getElementById("region2").innerHTML= html;
                document.getElementById("region3").innerHTML= "<option>지역 소분류</option>";
            }).catch(error => alert(error));
        }
    });

    document.getElementById("region2").addEventListener("change", function() {
        region2 = String(this.value);
        /*<![CDATA[*/
        let url = "http://localhost:8080/region/depth?regionDepth1="+region1+"&regionDepth2="+region2;
        /*]]>*/
        if (this.value !== "") {
            fetch(url,{
                headers: {
                    'Content-Type': 'application/json',
                },
                method : 'GET',
            }).then(function(response) {
                return response.json();
            }).then(function(data) {
                /*<![CDATA[*/
                let html = "<option>지역 소분류</option>";
                let regions = data.data;
                /*]]>*/
                for(let i=0; i<regions.length; i++){
                    html+= "<option value="+regions[i].id+">"+regions[i].regionDepth3+"</option>";
                }
                document.getElementById("region3").innerHTML= html;
            }).catch(error => alert(error));
        }
    });

    // check form
    function checkForm(){
        /*<![CDATA[*/
        let cal_start = document.querySelector("#startDate").value;
        let cal_end = document.querySelector("#endDate").value;
        let title = document.querySelector("#title").value;
        let description = document.querySelector("#description").value;
        let sub_1 = subject1;
        let sub_2 = document.getElementById("subject2").value;
        let reg_1 = region1;
        let reg_2 = region2;
        let reg_3 = document.getElementById("region3").value;
        let start = new Date(cal_start);
        let end = new Date(cal_end);
        /*]]>*/
        console.log(start ,end);
        console.log(cal_start, cal_end,title,description ,sub_1,sub_2,reg_1, reg_2, reg_3);
        if(start>end || cal_start==="" || cal_start=== ""){
            alert(" 날짜를 다시 설정 해 주세요");
        }
        else if(title=="") {
            alert("스터디 이름을 입력하세요");
        }else if(description==""){
            alert("설명을 입력해 주세요");
        }else if(sub_1=="" || sub_2==""){
            alert("카테고리 설정을 해주세요 ");
        }else if(reg_1=="" || reg_2=="" || reg_3==""){
            alert("지역 설정을 해주세요 ");
        }else {
            // alert("스터디를 생성 ");
            /*<![CDATA[*/
            let form = new FormData();
            let study = {
                title : title,
                description : description,
                startDate : moment(start).format("YYYY-MM-DD"),
                endDate: moment(end).format("YYYY-MM-DD"),
                evaluation : 0,
                type : 0, //무료 스터디
                subjectId: sub_2,
                regionId: reg_3,
                status: 1, //모집 중
                image: inputFile == null ?inputFile : inputFile.files[0]
            };
            /*]]>*/

            form.append("title", title);
            form.append("description", description);
            form.append("startDate", moment(start).format("YYYY-MM-DD"));
            form.append("endDate",moment(end).format("YYYY-MM-DD"));
            form.append("evaluation", 0);
            form.append("type", 0);
            form.append("subjectId", sub_2);
            form.append("regionId", reg_3);
            form.append("status", 1);
            form.append("image", inputFile == null ? inputFile : inputFile.files[0]);
            // console.log(JSON.stringify(study))
            makeStudy(form);
        }
    }


    function makeStudy(study) {
        fetch("http://localhost:8080/study",{
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                // 'Content-Type': 'application/json',
            },
            method : 'POST',
            body: study
            // body : JSON.stringify(study),
        }).then(function(response) {
            console.log(response);
            if(response.ok) window.href.location = "http://localhost:8080/";
            else return;
        }).catch(error => alert(error));
    }

    $(document).ready(function () {
        let fileTarget = $('.custom-file-input .upload-hidden');
        fileTarget.on('change', function () { // 값이 변경되면
            let input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.custom-file-input :file').on('fileselect', function (event, label) {

            let input = $(this).parents('.input-group').find(':text'),
                log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });

        $("#exampleInputFile").change(function () {
            // readURL(this);
            inputFile = this;
            console.log(inputFile.files[0]);
        });

    });

    function readURL(input) {
        let isImage = true;
        if (input.files && input.files[0]) {
            if (isImage) {
                // 스터디 사진 저장 컨트롤러 호출
                let file = input.files[0];
                console.log(file)
                let formData = new FormData();
                formData.append("type", "MAIN_IMAGE");
                formData.append("file", file);

                $.ajax({
                    url: '/attachment/study/3',
                    data: formData,
                    dataType: 'text',
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (data) {
                        alert("스터디 이미지가 업로드 되었습니다.")
                    },
                    error: function (request, status, error) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                })
            }

            function checkImageType(fileName) {
                let pattern = /jpg$|gif$|png$|jpeg$/i;
                return fileName.match(pattern);
            }


            function getOriginalName(fileName) {
                if (checkImageType(fileName)) {
                    return;
                }
                let idx = fileName.indexOf("_") + 1;
                return fileName.substr(idx);

            }


            function getImageLink(fileName) {

                if (!checkImageType(fileName)) {
                    return;
                }
                let front = fileName.substr(0, 12);
                let end = fileName.substr(14);

                return front + end;

            }
        }
    }
</script>
</body>
</html>