<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="layout/common.html :: fragment-common"/>
    <th:block th:replace="layout/navbar.html :: fragment-navbar"/>
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/vendor/adminlte/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/summernote/dist/summernote-bs4.min.css}">
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<!-- main -->
<div class="container">
    <div class="mt-3">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">스터디 등록</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="form">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- title input -->
                            <div class="form-group">
                                <label>제목</label>
                                <input type="text" class="form-control" placeholder="Title" id="title">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>스터디장</label>
                                <input type="text" class="form-control" disabled th:attr="placeholder=${loginUser}">
                            </div>
                        </div>
                    </div>
                    <!-- select -->
                    <label>카테고리</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" id="subject1">
                                    <option value="" selected>선택해주세요</option>
                                    <option th:each="item : ${subjects}" th:value="${item}"
                                            th:text="${item}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" id="subject2">
                                    <option value="" selected>선택해주세요</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- textarea -->
                    <div class="form-group">
                        <label>간단한 소개</label>
                        <textarea class="form-control" rows="1" placeholder="Description"
                                  id="description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="fullDescription">상세 소개</label>
                        <textarea id="fullDescription" rows="4" type="textarea" class="editor form-control"
                                  placeholder="스터디를 자세히 설명해 주세요." aria-describedby="fullDescriptionHelp" required></textarea>
                        <small id="fullDescriptionHelp" class="form-text text-muted">
                            스터디의 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 스터디원 등 스터디에 대해 자세히 적어 주세요.
                        </small>
                        <small class="invalid-feedback">상세 소개를 입력하세요.</small>
                    </div>

<!--                    <div class="form-group">-->
<!--                        <label for="fullDescription">상세 소개</label>-->
<!--                        <textarea id="fullDescription" type="textarea" th:field="*{fullDescription}" class="editor form-control"-->
<!--                                  placeholder="스터디를 자세히 설명해 주세요." aria-describedby="fullDescriptionHelp" required></textarea>-->
<!--                        <small id="fullDescriptionHelp" class="form-text text-muted">-->
<!--                            스터디의 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 스터디원 등 스터디에 대해 자세히 적어 주세요.-->
<!--                        </small>-->
<!--                        <small class="invalid-feedback">상세 소개를 입력하세요.</small>-->
<!--                        <small class="form-text text-danger" th:if="${#fields.hasErrors('fullDescription')}" th:errors="*{fullDescription}">FullDescription Error</small>-->
<!--                    </div>-->

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- Date range -->
                                <div class="form-group">
                                    <label>시작 날짜:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                      </span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="startDate">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <!-- /.form group -->
                            </div>
                            <div class="col-sm-6">
                                <!-- Date range -->
                                <div class="form-group">
                                    <label>종료 날짜:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                      </span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="endDate">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <!-- /.form group -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label>지역 대분류</label>
                                <div class="form-group">
                                    <select class="form-control" id="region1">
                                        <option>지역 중분류1</option>
                                        <option th:each="item : ${regions}" th:value="${item}"
                                                th:text="${item}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>지역 중분류</label>
                                <div class="form-group">
                                    <select class="form-control" id="region2">
                                        <option>지역 중분류2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>지역 소분류</label>
                                <div class="form-group">
                                    <select class="form-control" id="region3">
                                        <option>지역 소분류</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <!-- File -->
                        <label for="exampleInputFile">메인 이미지</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                        </div>
                        <!-- File End -->
                    </div>
                </div>
                <!-- /.card-body -->
            </form>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary" onclick="checkForm()">Submit</button>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /main container -->

<script th:src="@{/vendor/jquery/jquery.js}"></script>
<script th:src="@{/vendor/jquery-ui/jquery-ui.js}"></script>
<th:block th:replace="study/study_register_script.html :: study-register-script"></th:block>
</body>
</html>