<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <th:block th:replace="layout/common.html :: fragment-common"/>
    </head>
        <body class="text-center">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <form class="form-signin" th:action="@{/user/changePassword}" method="post">
                        <a href="/"><img class="mb-4" th:src="@{/img/moim.jpg}" alt="" width="72" height="72"></a>
                        <h1 class="h3 mb-3 font-weight-normal">비밀번호 변경</h1>
                        <label for="inputOldPassword" class="sr-only">현재 비밀번호</label>
                        <input type="password" name="oldPassword" id="inputOldPassword" class="form-control" placeholder="현재 비밀번호" required autofocus>
                        <label for="inputNewPassword" class="sr-only">변경할 비밀번호</label>
                        <input type="password" name="newPassword" id="inputNewPassword" class="form-control" placeholder="변경할 비밀번호" required>
                        <label for="inputNewPasswordConfirm" class="sr-only">변경할 비밀번호 확인</label>
                        <input type="password" name="newPasswordConfirm" id="inputNewPasswordConfirm" class="form-control" placeholder="변경할 비밀번호 확인" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">변경</button>
                        <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
                    </form>
                </div>
            </div>
        </body>
</html>