<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>PMC Moim login</title>
    <th:block th:replace="layout/common.html :: fragment-common"/>
    <th:block layout:fragment="css"><link th:href="@{/css/signin.css}" rel="stylesheet"></th:block>
</head>
    <body class="text-center">
        <form class="form-signin" th:action="@{/user/login}" method="post">
            <a href="/"><img class="mb-4" th:src="@{/img/moim.jpg}" alt="" width="72" height="72"></a>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
        </form>
    </body>
</html>
