<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="layout/common.html :: fragment-common"/>
    <th:block layout:fragment="css"><link th:href="@{/css/image-upload.css}" rel="stylesheet"></th:block>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<!-- navbar -->
<nav th:replace="layout/navbar.html :: fragment-navbar"></nav>
<!-- main -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img id=img-upload class="profile-user-img" th:width="400px" th:height="400px"
                                     th:src="@{${profileImagePath}}"
                                     alt="User profile picture">
                            </div>

                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <div class="file-box">
                                            <label for="ex_file">프로필 사진 변경</label>
                                            <input type="file" id="ex_file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="profile-username text-center" th:text="${loginUser}"></h3>
                            <p class="text-muted text-center" th:text="${loginUserEmail}"></p>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>가입한 모임 수</b> <a class="float-right">3</a>
                                </li>
                                <li class="list-group-item">
                                    <b>운영 모임 수</b> <a class="float-right">1</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-map-marker-alt mr-1"></i> 지역</strong>
                            <p class="text-muted" th:text="${region}">지역을 선택해주세요.</p>
                            <hr>
                            <strong><i class="fas fa-pencil-alt mr-1"></i> 관심사</strong>

                            <p class="text-muted">
                                <span class="tag tag-danger" th:text="${subject}">관심사를 선택해주세요.</span>
                            </p>
                            <hr>
                        </div>
                        <!-- /.card-body -->

                        <a href="#" class="btn btn-primary btn-block" th:href="@{/user/changePassword}"><b>비밀번호 변경하기</b></a>
                        <!--                        <button id ="btn-user-delete" class="btn btn-primary btn-block"><b>탈퇴하기</b></button>-->
                        <!--                        <a id ="btn-user-delete" href="#" class="btn btn-primary btn-block" th:href="@{/user/{loginUserId}(loginUserId=${loginUserId})}" data-confirm="탈퇴하시겠습니까?" data-method="delete" rel="nofollow"><b>탈퇴하기</b></a>-->
                        <a href="#" class="btn btn-primary btn-block" th:href="@{/user/register/profile}"><b>회원 정보 변경하기</b></a>
                        <button id ="btn-user-delete" class="btn btn-primary btn-block" th:onclick="deleteUser([[${loginUserId}]])"><b>탈퇴하기</b></button>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        function deleteUser(id){
            if (confirm("정말로 탈퇴하시겠습니까?")){
                var url = "/user/"+id;
                var html = "";
                html += '<form name="dataForm" action="'+url+'" method="post">';
                html += '<input type="hidden" name="_method" value="delete" />';
                html += '</form>';
                console.log("html");
                $("body").append(html);
                document.dataForm.submit();
            }
        }
        /*]]>*/
    </script>
    <script>
        $(document).ready(function () {
            let fileTarget = $('.file-box .upload-hidden');
            fileTarget.on('change', function () { // 값이 변경되면
                let input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.file-box :file').on('fileselect', function(event, label) {

                let input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if( input.length ) {
                    input.val(log);
                } else {
                    if( log ) alert(log);
                }

            });

            $("#ex_file").change(function(){
                readURL(this);
            });

        });

        function readURL(input) {
            let isImage = true;
            if (input.files && input.files[0]) {

                // 이미지 파일 형식인지 확인 후 이미지 사진 변경
                let filesArr = Array.prototype.slice.call(input.files);
                filesArr.forEach(function (file) {
                    if(!file.type.match("image.*")){
                        alert("이미지 확장자만 사용 가능합니다.");
                        isImage = false;
                        return;
                    }

                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                })

                if (isImage) {
                    // 프로필 사진 저장 컨트롤러 호출
                    let file = input.files[0];
                    console.log(file)
                    let formData = new FormData();
                    formData.append("file", file);

                    $.ajax({
                        url: '/attachment/profile',
                        data: formData,
                        dataType:'text',
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function(data){
                            alert("프로필 이미지가 변경 되었습니다.")
                        },
                        error: function(request,status,error){
                            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                        }
                    })
                }

                function checkImageType(fileName){
                    let pattern = /jpg$|gif$|png$|jpeg$/i;
                    return fileName.match(pattern);
                }


                function getOriginalName(fileName){
                    if(checkImageType(fileName)){
                        return;
                    }
                    let idx = fileName.indexOf("_") + 1 ;
                    return fileName.substr(idx);

                }


                function getImageLink(fileName){

                    if(!checkImageType(fileName)){
                        return;
                    }
                    let front = fileName.substr(0,12);
                    let end = fileName.substr(14);

                    return front + end;

                }
            }
        }
    </script>
</th:block>
</body>
</html>